@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}
body{
    background: #151515;
}
.container{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 15px;
}
#root{
    padding-top: 50px;
    /* background: red; */
    display: flex;
    flex-direction: column;
    gap: 66px;
  }
  a{
    text-decoration: none;
    /* color: inherit; */
  }
  li{
    list-style: none;
  }
  .cards{
    width: 700px;
    height: 600px;
    /* background:blue; */
    display:flex;
    align-items: center;
      flex-wrap: wrap;
      gap: 30px;
  }
  .card_item{
    width: 180px;
    height: 250px;
    background:rgba(44, 101, 186, 0.726);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
    box-shadow: 17px 14px 8px 0px rgba(107, 125, 138, 0.2);
  }
  img{
    max-width: 180px;
    height: 150px;
    border-radius: 10px;
    object-fit:fill
  }
  h2,span{
    align-self: start;
    padding-left: 10px;
  }
  span{
    padding-bottom: 8px;
  }
